.App {
  text-align: center;
}

.header {
  font-family: 'Courier New', Courier, monospace;
}

.below-content {
  display: flex;
}

.shelf {
  width: 38%;
}

.grid {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
}

.book-img {
  max-width: 200px;
}

.discriptor {
  max-width: 200px;

}